@import url('https://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900;&display=swap');

* {
  font-family: 'Poppins', Sans-Serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  list-style: none;
  text-decoration: none;
}
:root {
  --main-color: #2288ff;
  --secondary-color: #192f69;
  --text-color: #314862;
  --bg-color: #fff;
  
  --box-shadow: 2px 2px 18px rgb(14, 52, 54 / 15%);
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
  /* background: rgb(255, 255, 255); */
}
section {
  padding: 4.5rem 0 3rem;
}
.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: block;
  width: 100%;
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
}
.logo .fas {
  font-size: 25px; 
  color: var(--secondary-colorcolor);
  
}
.navbar {
  display: flex;
}
.navbar a {
  padding: 8px 17px;
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar a:hover {
  color: var(--main-color);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}
#menu {
  display: none;
}
.btn {
  background: var(--main-color);
  padding: 8px 24px;
  color: var(--bg-color);
  border-radius: 5rem;
}
.btn:hover {
  background: #3492fd;
}
.home {
  margin-top: 2rem;
}
.home img {
  height: 70vh;
  border-radius: 18px;
  /* border-color: #2288ff;
  border-width: 2px;
  border-style: solid; */
}
.home-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.home-text h1 {
  color: var(--bg-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(18rem,auto));
  gap: 2rem;
}
.about-img img {
  border-radius: 3rem 0 3rem 0;
}
.about-text span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--main-color);
  text-transform: uppercase;
}
.about-text h2 {
  font-size: 1.7rem;
}
.about-text p {
  font-size: 0.938rem;
  margin: 1rem 0 1rem;
  text-align: justify;
}
.sales {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px,auto));
  gap: 2.4rem;
}
.sales .box {
  padding: 20px;
  background: var(--bg-color);
  box-shadow: var(--box-shadow);
  text-align: center;
  border-radius: 2rem;
}
.sales .box:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.4s all linear;
}
.sales .box .bx {
  padding: 10px;
  border-radius: 50%;
  background: #f6f6fe;
  color: var(--main-color);
  font-size: 20px;
}
.sales .box h3 {
  font-size: 1rem;
  margin: 1rem 0 0.4rem;
}
.sales .box p {
  font-size: 0.838rem;
}
.heading {
  text-align: center;
}
.heading span {
  font-weight: 500;
  color: var(--main-color);
}
.heading h2 {
  font-size: 1.7rem;
   
}
.heading p {
  font-size: o.938rem;
  margin-bottom: 2rem;
}
.properties {
  background: #fbfbfb;
  border-radius: 2rem;
}
.properties-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,auto));
  gap: 3rem;
  padding: 0 50px;
}
.properties-container .box {
  background: var(--bg-color);
  padding: 10px;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}
.properties-container .box:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
.properties-container .box img {
  border-radius: 1rem;
  height: 220px;
  object-fit:cover;
  background-size: auto;
  /* object-position: center; */
  width: 300px;
}
.properties-container .box h3 {
  /* height: 224px; */
  font-size: 1rem;
  font-weight: 600;
  float: right;
}
.newsletter {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction:  column;
  align-items: center;
  row-gap: 2rem;
}
.newsletter h2 {
  font-size: 1.7rem;
}
.newsletter form {
  background: var(--bg-color);
  box-shadow: var(--box-shadow);
  padding: 6px 10px;
  border-radius: 5rem;
}
.newsletter form input {
  outline: none;
  border: none;
  font-size: 1rem;
}
.newsletter #email-box {
  width: 280px;
}
.newsletter .btn {
  padding: 12px 34px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer {
  background: var(--main-color);
  color: var(--bg-color);
  /* padding: 5rem 0 0 0; */
  border-radius: 5rem 0 0 0;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 2rem;
}
.footer-container h2 {
  font-size: 1.7rem;
  font-weight: 500;
  /* margin-left: 1rem; */
}
.footer-box {
  display: flex;
  flex-direction: column;
}
.footer-box h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.footer-box a {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: var(--bg-color);
}
.footer-box a:hover {
  color: var(--text-color);
}
.social a {
  font-size: 20px;
  margin-right: 1rem;
}
.social a:hover {
  color: var(--secondary-color);
}
.copyright {
  padding: 20px;
  text-align: center;
  color: var(--bg-color);
  background: var(--main-color);
}
/* Log in */
.login {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
}
.login-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.login-container h2 {
  font-size: 1.4rem;
}
.login-container p {
  font-size: 0.9rem;
}
.login-container form {
  display: flex;
  flex-direction: column;
}
.login-container form span {
  font-size: 0.9rem;
  color: #8a8a8a;
  margin-bottom: 4px;
}
.login-container form input {
  border: 1px solid #8a8a8a;
  outline: none;
  padding: 10px;
  margin-bottom: 1rem;
  background: var(--bg-color);
}
.login-container form .button {
  outline: none;
  border: none;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 0.85rem;
  ;font-weight: 500;
}
.login-container form .button:hover {
  background: #3492fd;
}
.login-container form a {
  font-size: 0.9rem;
  text-align: center;
}
.login-container .btn {
  border-radius: 0;
  text-align: center;
}


/* Making responsive */
@media (max-width: 1080px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 880px){
  section{
    padding: 4rem 0 3rem;
  }

  .properties-container{
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 1rem;
    padding: 0 10px;
  }

  .footer-container{
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 1rem; 
  }

  .login{
    grid-template-columns: 0.6fr 1fr;
  }
}

@media (max-width: 768px){
  .nav{
    padding: 10px 0;
  }
  #menu-icon{
    display: initial;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    text-align: center;
    clip-path: circle(0% at 100% 1%);
    transition: 0.6s;
  }
  .navbar a{
    display: block;
    margin: 1rem;
    padding: 20px;
    color: var(--bg-color);
  }
  .navbar a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s;
  }
  #menu:checked ~ .navbar{
    clip-path: circle(144% at 100% 1%);
  }
  .about-text span{
    font-size: 0.9rem;
  }
  .about-text h2,
  .heading h2,
  .newsletter h2 {
    font-size: 1.4rem;
  } 
}

@media (max-width:639px){
  .about-text{
    text-align: center;
  }
  .about-img{
    order: 2;
  }
  .login{
    grid-template-columns: 0.8fr 1fr;
    margin-top: 3rem;
  }
}
@media (max-width: 572px){
  .login_image{
    display: none;
  }
  .login{
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .about-img {
    order: -1;
  }
}
@media (max-width: 442px){
  .home-text{
    padding-left: 14px;
  }
  .home-text h1{
    font-size: 1.7rem;
  }
  .about-text h2,
  .heading h2,
  .newsletter h2 {
    font-size: 1.2rem;
  } 
  .about-img {
    order: -1;
  }
  .properties-container{
    padding: 0;
  }
  .newsletter #email-box{
    width: 130px;
  }
  .footer{
    border-radius: 3rem 0 0 0;
  }
}

.about-page-img img {
  display: block;
  width: 1038px;
  margin: 4rem;
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}
.about-page-img {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 440px;
  border-radius: 1.5rem;
  /* display: block; */
  align-items: center;
  justify-content: center;
  
}
.about-page-text {
  text-align: center;
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
.about-page-text ul li {
  text-align: start;
  margin-bottom: 1rem;
  list-style: circle;
}

.about-page-text h2,
strong {
  margin-bottom: 1rem;
}

#gallery-arrow {
  font-size: 35px;
  /* color: white; */
  text-align: end;
  margin-right: 3rem;
  margin-top: 2rem;
  align-items: center;
  /* background: var(--main-color); */
  /* border-radius: 50px; */
  /* padding: 10px; */
}
/* #bullet {
  list-style: decimal;
  font-size: 50px;
  /* position: relative; */
  /* text-align: start; */
  /* margin: auto; */
  /* margin-bottom: ; */

/* */ 
#gallery-arrow a i {
  color: var(--bg-color);
  border-radius: 10px;
  background: var(--main-color);
}
#gallery-arrow a i:hover {
  color: var(--main-color);
  background: var(--bg-color);
}
.box video {
  height: 400px;
  /* width: 400; */
  grid-template-columns: 1fr;
} 

.gallery-bg {
  margin-top: 5rem;
  background: var(--bg-color);
  /* background-repeat: no   -repeat; */
  background-position: center;
  /* height: 440px; */
  display: flex;
}
.video-box {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 8px;
}
.bg-video {
  position: relative;
  /* display: flex; */
  border-radius: 10px;
  background-size: cover;
  margin-top: 5rem;
  width: 100%;
  height: 100%;
}
.bg-video video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: auto;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .about-page-text ul{
    margin-left: 4rem;
    margin-right: 1.5rem;
  }
  .about-page-img img {
    width: 1000px; 
  }
}

@media (max-width: 902px) {
  .about-page-img img {
    /* background-position: center; */
    background-size: cover;
    height: 440px;
    width: 750px;
  }
  .about-page-text ul{
    margin-left: 4rem;
    margin-right: 1.5rem;
  }
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 442px) {
  .about-page-img img {
    /* background-position: center; */
    background-size: cover;
    height: 440px;
    width: 340px;
    align-items: center;
  }
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .about-page-text h2,
  strong,
  .about-page-text ul li,
  .newsletter h2 {
    font-size: 0.9rem;
  }
  .about-page-text ul{
    margin-left: 2rem;
    margin-right: 1rem;
  }
}
@media (max-width: 422px) {
  .about-page-img img {
    width: 360px;
  }
}
.properties-container div img{
  max-width: 300px;
  max-height: 400px;
  object-fit: contain;
  object-position: right;
  /* border-style: solid;
  border-color: rgb(0, 140, 255); */
}
#practice-area {
  margin-top: 10px;
}

#company {
  padding-top: 1rem;
  display: block;
  color: var(--bg-color);
}
.bn {
  position: relative;
}
.bn-text {
  color: var(--text-color);
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.box {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* This will maintain the image's aspect ratio */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.box img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 4/4;
  object-fit: cover;
  object-position: center;
}
